$title: 18px;
$sub-title: 16px;
$text: 14px;
$misc: 10px;
$bg-special: #bccbb7;
$text-primary: #212529;
$bg-primary: #f4f4f4;
$bg-selected: #ebebeb;
$border-color: #d0d0d0;
$btn-primary: #fdd43a;
$btn-secondary: #e2dfd7;
$padding-common: 16px;